{% extends 'home_page.html' %}
{% load static %}

{% block content %}

<h1>{{ post.recipe_name }}</h1>
<div class="post">
    <p>{{post.author}}</p>
  
    
    
    <p>{{post.level}}</p>

   
    <div class="date">
        {{ post.created_date|date:"d/m/o" }}
    </div>
   
    {% if post.image %}
    <img class="recipe-image" src="{{post.image.url}}" alt="Recipe image" width="193" height="130">

    {% endif %}
    <ul>
        {% for ing in post.ingredients.all %}
        <li>{{ ing.name }}</li>
        {% endfor %}
        
        </ul>
    <p>{{ post.description }}</p>
</div>
{% endblock %}